.footer-block {
    position: fixed;
    display: flex;
    bottom: 18px;
    z-index: 1;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
}


.footer-left {
    position: fixed;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    left: 18px;
    flex-direction: column; /* Блоки друг под другом, а не в строку */
    align-items: flex-start; /* Ширина блоков по содержимому, а не по самому широкому */
    gap: 8px; /* Отступ между блоками */

    .buttons {
    margin-right: 0; /* Отменяем отступ справа от .buttons:not(:last-of-type) */
    }
}

.footer-right {
    position: fixed;
    display: flex;
    z-index: 1;
    right: 18px;
    bottom: 18px;
}